nav {
    width: 100vw;
}

ul {
    display: flex;
    justify-content: space-around
}

.fun-fact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

img {
    margin-top: 60px;
    border: 5px solid khaki;
}

h3 {
    text-decoration: underline;
}

p {
    margin-bottom: 0.1px;
}

section {
    margin-bottom: 70px;
}

