/* Trying to align content inside <a>: unsuccessful. Have 2 approaches commented out*/


/* Approach 1 */

/* li {
    justify-content: center;
    align-items: center;
} */

/* Approach 2 */

/* ul {
    text-align: center;
}

li {
    text-align: center;
}

a {
    text-align: center; 
    display: inline-block; 
} */


.fun-fact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

img {
    margin-top: 60px;
    border: 5px solid khaki;
}

h3 {
    text-decoration: underline;
}

p {
    margin-bottom: 0.1px;
}

section {
    margin-bottom: 70px;
}

