section {
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: nowrap;
    width: 1000px;
    
}

nav {
    text-align: center;
    padding: 35px;
}

ul {
    display: flex;
    flex-direction: row;
    padding: 0px;
    width: 300px;
    justify-content: center;
}
