nav {
    width: 100vw;
}

ul {
    display: flex;
    justify-content: space-around
}

.additional_header {
    text-align: center;
    font-size: 1.4em;
    display:flex;
    align-items: center;
    justify-content: center;
    color: palevioletred;
}

.fun-fact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

img {
    margin-top: 60px;
    border: 5px solid khaki;
}

h3 {
    text-decoration: underline;
    font-size: 1.5em;
    text-align: center;
    display: block;
    margin-bottom: 25px;
}

p {
    margin-bottom: 0.1px;
    color: blue;
    font-size: 19px;
    line-height: 30px;
}

section {
    margin-bottom: 70px;
}

.fun_facts_footer {
    text-align: center;  
    background-color: navy;
    color: white;
    padding: 60px;
    bottom: 0;
    width: 100%;
}

.fun_facts_footer p {
    text-align: center;
    color: white;
    justify-content: center;
}

