section {
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    
    
}

nav {
    text-align: center;
    padding: 80px;
}

ul {
    display: flex;
    flex-direction: row;
    padding: 0px;
    width: 300px;
    justify-content: center;
}

.main_page_links{
    width: 100vw;
}
